
# python cache
pyrolog/__pycache__/
examples/__pycache__/

# docs builded files
# docs/build/*
# !docs/build/.gitkeep

# pypi build
dist/

# other
pyrolog.egg-info/
.idea/
presentation.log

# temporary exclusions
.readthedocs.yaml
docs/
